<app-menu></app-menu>
<div id="main">
<form id="formRoom" #formRef="ngForm" class="needs-validation">
	<div class="card shadow center">
		<div class="card-header"><span i18n>Room</span></div>
		<div class="card-header shadow-sm">
			<button type="button" (click)="goToChat()" class="btn bg-gradient btn-primary btn-sm"><fa-icon [icon]="faXmark"></fa-icon>&nbsp;<span i18n>Back</span></button>
		</div>
		<div class="card-body">

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Created on</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="createdOn" name="createdOn" [(ngModel)]="room.createdOn" disabled>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Updated on</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="updatedOn" name="updatedOn" [(ngModel)]="room.updatedOn" disabled>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Name</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="name" name="name" [(ngModel)]="room.name" #nameRef="ngModel" required [class.is-invalid]="nameRef.invalid && nameRef.touched">
				</div>
			</div>

			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>State</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="state" name="state" [(ngModel)]="room.state" required #stateRef="ngModel" [class.is-invalid]="stateRef.invalid && stateRef.touched">
						@for (st of ST; track st.key) { <option [value]="st.key">{{ st.value }}</option> }
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Optional password</span></label>
				<div class="col-sm-8">
					<input type="password" class="form-control form-control-sm field-separate" id="roomPassword" name="roomPassword" [(ngModel)]="room.password">
					<div class="form-text field-separate"><span i18n>Indicate a new passphrase to restrict access.<br/>Or leave this field empty if you don't want any change.<br/>Or write <i>BLANK</i> if you want to unset it ie cancel restricted access.</span></div>
				</div>
			</div>

			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Topic</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="topic" name="topic" [(ngModel)]="room.topic">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Notes</span></label>
				<div class="col-sm-8">
					<textarea rows="4" class="form-control form-control-sm field-separate" id="notes" name="notes" [(ngModel)]="room.notes"></textarea>
				</div>
			</div>

			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Purge method</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="purgeMethod" name="purgeMethod" [(ngModel)]="room.purgeMethod" required #purgeMethodRef="ngModel" [class.is-invalid]="purgeMethodRef.invalid && purgeMethodRef.touched">
						@for (pm of PM; track pm.key) { <option [value]="pm.key">{{ pm.value }}</option> }
						</select>
					</div>
				</div>
			</div>

			@if (room.purgeMethod === 'MESSAGES_LIMITED') {
			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Messages limit</span></label>
				<div class="col-sm-2">
					<input type="number" min="0" max="1000" class="form-control form-control-sm field-separate" id="messagesLimit" name="messagesLimit" [(ngModel)]="room.messagesLimit">
				</div>
				<label class="col-sm-6 col-form-label col-form-label-sm label-nobr"><span i18n>maximum number of lines to keep.<br/>0 for infinite</span></label>
			</div>
			} @else if (room.purgeMethod === 'TIME_LIMITED') {
			<div class="form-group row field-gap">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Time duration</span></label>
			 	<div class="col-sm-2">
					<input type="number" min="0" max="4321" class="form-control form-control-sm field-separate" id="timeDuration" name="timeDuration" [(ngModel)]="room.timeDuration">
				</div>
				<label class="col-sm-6 col-form-label col-form-label-sm label-nobr"><span i18n>minutes lifespan before delete.<br/>0 for infinite</span></label>
			</div>
			}

		</div>
		<div class="card-footer">
			<button type="button" class="btn bg-gradient btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalModifier" [disabled]="formRef.invalid"><fa-icon [icon]="faCheck"></fa-icon>&nbsp;<span i18n>Update</span></button>
			<button type="button" class="btn bg-gradient btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEffacer" style="float: right;"><fa-icon [icon]="faTrash"></fa-icon>&nbsp;<span i18n>Delete</span></button>
		</div>
	</div>
</form>

<div class="modal fade" id="modalModifier" tabindex="-1" aria-labelledby="modalModifierTitre" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalModifierTitre"><span i18n>Modify this room</span></h5>
			</div>
			<div class="modal-body"><span i18n>Update this record?</span></div>
			<div class="modal-footer">
				<button type="button" class="btn bg-gradient btn-secondary btn-sm" data-bs-dismiss="modal"><span i18n>Cancel</span></button>
				<button type="button" class="btn bg-gradient btn-warning btn-sm" (click)="updateConfirmed()" data-bs-dismiss="modal"><span i18n>Confirm</span></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalEffacer" tabindex="-1" aria-labelledby="modalEffacerTitre" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger" id="modalEffacerTitre"><span i18n>Remove this room</span></h5>
			</div>
			<div class="modal-body"><span i18n>delete this record?</span></div>
			<div class="modal-footer">
				<button type="button" class="btn bg-gradient btn-secondary btn-sm" data-bs-dismiss="modal"><span i18n>Cancel</span></button>
				<button type="button" class="btn bg-gradient btn-danger btn-sm" (click)="deleteConfirmed()" data-bs-dismiss="modal"><span i18n>Confirm</span></button>
			</div>
		</div>
	</div>
</div>
</div>
