<app-menu></app-menu>
<div id="main">
<div class="card shadow" style="max-height:97vh;">
	<div class="card-header"><span i18n>Attachments : {{ this.generalAttachmentCount.current }} (owning {{ this.ownAttachmentCount.current }} / {{ this.ownAttachmentCount.maximum }})</span></div>
	<div class="card-header">
		<div class="row justify-content-between">
			<div class="form-group col-sm-4 label-nobr">
				<button type="button" (click)="goToAttachementRefreshList()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><fa-icon [icon]="faRotate"></fa-icon>&nbsp;<span i18n>Update</span></button>
				@if ((this.ownAttachmentCount.maximum > this.ownAttachmentCount.current) && (this.ownAttachmentCount.capability)) {
				<button type="button" (click)="goToAttachementCreation()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><fa-icon [icon]="faPlus"></fa-icon>&nbsp;<span i18n>Add</span></button>
				}
			</div>
			<div class="form-group col-sm-2 label-nobr">
				<div class="input-group input-group-sn">
					<button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Status</span></button>
					<select class="form-select form-select-sm field-separate" id="select_status" [(ngModel)]="statusFilter" (change)="filterByStatus($event)">
						<option value=""> </option>
						<option value="PENDING">Waiting to be claimed</option>
					</select>
				</div>
			</div>
			<div class="form-group col-sm-2 label-nobr">
			  <div class="input-group input-group-sn">
					<button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Sort</span></button>
					<select class="form-select form-select-sm field-separate" id="select_tri" [(ngModel)]="sort" (change)="sortList($event)" placement="bottom">
						<option value="0"><span i18n>by names</span></option>
						<option value="1"><span i18n>by most recents</span></option>
				  </select>
			  </div>
		  </div>
			<div class="form-group col-sm-4 label-nobr">
				<div class="input-group input-group-sn">
					<button type="button" (click)="filterByName()" class="btn bg-gradient btn-primary btn-sm field-separate"><fa-icon [icon]="faFilter"></fa-icon>&nbsp;<span i18n>Name</span></button>
					<input type="text" (keydown.enter)="filterByName()" class="form-control form-control-sm field-separate" id="input_name" [(ngModel)]="nameFilter" i18n-tooltip tooltip="Filter by file name" placement="bottom" containor="body">
					<button type="button" (click)="resetFilters()" class="btn bg-gradient btn-secondary btn-sm field-separate" style="margin-right: 5px;"><fa-icon [icon]="faFilterCircleXmark"></fa-icon>&nbsp;<span i18n>Remove</span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body table-scrollable" #attachmentslist>
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="fs-6 label-nobr"><small><span i18n>File name</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Comments</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Shared</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Remaing days</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Owner</span></small></th>
					<th class="fs-6 label-nobr"><small>&nbsp;</small></th>
				</tr>
			</thead>
			<tbody>
				@for (attachment of attachments; track attachment.fileId) {
				<tr>
					<td class="label-nobr text-truncate" style="max-width:200px;"><fa-icon [icon]="faDownload" class="text-primary pointeur-souris" (click)="getFile(attachment.fileId, attachment.archiveName)"></fa-icon>&nbsp;<a class="pointeur-souris" (click)="getFile(attachment.fileId, attachment.archiveName)">{{ attachment.archiveName }}</a></td>
					<td class="fs-6">{{ attachment.commentsPublic }}&nbsp;&nbsp;</td>
					<td>@if (attachment.shared) { <fa-icon [icon]="faShareNodes" class="text-danger"></fa-icon> } @else { <fa-icon [icon]="faLock" class="text-muted"></fa-icon> }</td>
					<td class="label-nobr text-truncate" style="max-width:200px;">@if (attachment.lifeSpan == 0) { &infin; } @else { {{ attachment.lifeSpan }} }&nbsp;&nbsp;</td>
					<td class="label-nobr text-truncate" style="max-width:200px;">{{ attachment.ownerName }}&nbsp;&nbsp;</td>
					<td class="label-nobr">
						@if ((this.userId == attachment.ownerId) || (this.role === 'ADMIN')) {
						<button type="button" (click)="goToAttachementDetails(attachment.fileId)" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><fa-icon [icon]="faPen"></fa-icon>&nbsp;<span i18n>Edit</span></button>
						}
						@if (this.userId == attachment.destId) {
						<button type="button" (click)="claim(attachment.fileId)" class="btn bg-gradient btn-success btn-sm" style="margin-right: 5px;"><fa-icon [icon]="faCheck"></fa-icon>&nbsp;<span i18n>Claim</span></button>
						<button type="button" (click)="decline(attachment.fileId)" class="btn bg-gradient btn-warning btn-sm" style="margin-right: 5px;"><fa-icon [icon]="faBan"></fa-icon>&nbsp;<span i18n>Decline</span></button>
						}
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="card-footer d-flex flex-row" style="max-height:50px;">
		@if (pagination.total > 1) {
		<nav style="padding: 0 10px 0 0;">
			<ul class="pagination pagination-sm col-sm-2">
				<li class="page-item" [class.disabled]="pagination.current == 0"><a class="page-link" (click)="goToPrevPage()"><fa-icon [icon]="faArrowLeft"></fa-icon></a></li>
				@for (p of pages; track p) { <li class="page-item" [class.active]="pagination.current == (p - 1)"><a class="page-link" (click)="goToPage(p - 1)">{{p}}</a></li> }
				<li class="page-item" [class.disabled]="pagination.current == (pagination.total - 1)"><a class="page-link" (click)="goToNextPage()"><fa-icon [icon]="faArrowRight"></fa-icon></a></li>
			</ul>
		</nav>
		}
		<div class="form-group col-sm-2 label-nobr">
			<div class="input-group input-group-sn">
				<button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Max per page</span></button>
				<select class="form-select form-select-sm field-separate" id="select_size" [(ngModel)]="this.pagination.size" (change)="setMaxPerPage($event)">
					<option [value]="25"> 25</option>
					<option [value]="50"> 50</option>
					<option [value]="100">100</option>
					<option [value]="250">250</option>
					<option [value]="500">500</option>
				</select>
			</div>
		</div>
	</div>
</div>
</div>
