<app-menu></app-menu>
<div id="main">
  <form [formGroup]="form">

    <div class="card shadow center">
      <div class="card-header"><span i18n>Password change attempt</span></div>
      <div class="card-header shadow-sm">
        <button (click)="goToAccountDetails()" class="btn bg-gradient btn-primary btn-sm"><fa-icon [icon]="faXmark"></fa-icon>&nbsp;<span i18n>Back</span></button>
      </div>
      <div class="card-body">

        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Nick name</span></label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm field-separate"  formControlName="nickName">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Current password</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm field-separate" formControlName="oldPassword">
            @if (form.controls['oldPassword'].hasError('required')) {
              <div class="form-text field-separate"><span i18n>For security reasons, the old password is required.</span></div>
            }
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>New Password</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm field-separate" formControlName="newPassword">
            @if (form.controls['newPassword'].hasError('required')) {
              <div class="form-text field-separate"><span i18n>New password is required.</span></div>
            }
            @if (form.controls['newPassword'].hasError('pattern')) {
              <div class="form-text field-separate">
                <span i18n>The password must meet these requirements:</span>
                <ul>
                  <li [ngClass]="{'d-none':checkValidations('newPassword', 'uppercase')}"><span i18n>At least one uppercase letter.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('newPassword', 'lowercase')}"><span i18n>At least one lowercase letter.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('newPassword', 'special-character')}"><span i18n>At least one special characteristic among #$&#64;!%&amp;*?</span></li>
                  <li [ngClass]="{'d-none':checkValidations('newPassword', 'number')}"><span i18n>At least one number.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('newPassword', 'length')}"><span i18n>Between 8 and 16 characters.</span></li>
                </ul>
              </div>
            }
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Confirmation</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm field-separate" formControlName="confirmPassword">
            @if (form.controls['confirmPassword'].hasError('required')) {
              <div class="form-text field-separate"><span i18n>Confirmation of the new password (entering it twice) is required.</span></div>
            }
            @if (form.controls['confirmPassword'].hasError('pattern')) {
              <div class="form-text field-separate">
                <span i18n>The password must meet these requirements:</span>
                <ul>
                  <li [ngClass]="{'d-none':checkValidations('confirmPassword', 'uppercase')}"><span i18n>At least one uppercase letter.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('confirmPassword', 'lowercase')}"><span i18n>At least one lowercase letter.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('confirmPassword', 'special-character')}"><span i18n>At least one special characteristic among #$&#64;!%&amp;*?</span></li>
                  <li [ngClass]="{'d-none':checkValidations('confirmPassword', 'number')}"><span i18n>At least one number.</span></li>
                  <li [ngClass]="{'d-none':checkValidations('confirmPassword', 'length')}"><span i18n>Between 8 and 16 characters.</span></li>
                </ul>
              </div>
            }
            @if (form.hasError('notMatched')) {
              <div class="form-text field-separate"><span i18n class="text-danger">The confirmation does not match the new password.</span></div>
            }
          </div>
        </div>

        @if (this.newpassword.error !== "") {
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"></label>
          <div class="col-sm-8 col-form-label col-form-label-sm">
            <div class="alert alert-warning" role="alert">{{ this.newpassword.error }}</div>
          </div>
        </div>
        }
        @if (this.newpassword.success !== "") {
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm label-nobr"></label>
          <div class="col-sm-8 col-form-label col-form-label-sm">
            <div class="alert alert-info" role="alert">{{ this.newpassword.success }}</div>
          </div>
        </div>
        }

      </div>
      <div class="card-footer">
        <button type="button" class="btn bg-gradient btn-danger btn-sm text-left" data-bs-toggle="modal" data-bs-target="#modalModifier" [disabled]="!form.valid"><fa-icon [icon]="faPen"></fa-icon>&nbsp;<span i18n>Update</span></button>
      </div>
    </div>
  </form>

  <div class="modal fade" id="modalModifier" tabindex="-1" aria-labelledby="modalModifierTitre" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body"><span i18n>Change password?</span></div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient btn-secondary btn-sm" data-bs-dismiss="modal"><span i18n>Cancel</span></button>
          <button type="button" class="btn bg-gradient btn-danger btn-sm" (click)="updatePasswordConfirmed()" data-bs-dismiss="modal"><span i18n>Confirm</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
